/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.3.6,
* Autoprefixer: v10.3.1
* Browsers: last 4 version
*/

/*
/*
* Prefixed by:
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/



:root {
  --shadow-color: rgba(108,123,149,0.25);
  --text-color: #6C7B95;
}

@font-face {
  font-family: 'sen-regular';
  src: url('../fonts/sen-regular-webfont.ttf') format('truetype');
}
@font-face {
  font-family: 'sen-bolder';
  src: url('../fonts/sen-bold-webfont.ttf') format('truetype');
}
@font-face {
  font-family: 'sen-bold';
  src: url('../fonts/sen-extrabold-webfont.ttf') format('truetype');
}

a, a:hover, a:active, a:visited, a:link, a:focus {
  text-decoration: none;
  color: var(--text-color);
  cursor: pointer;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  /*padding-top: 50px;*/
}

html {
  scroll-behavior: smooth;
  background: #FFFFFF;
  font-family: "sen-regular", "Helvetica Neue";
  color: var(--text-color);
}

body {
  overflow: visible;
}

::-moz-selection {
  background: #61BFFF;
  text-shadow: none;
}

::selection {
  background: #61BFFF;
  text-shadow: none;
}
h1 {
  font-family: "sen-Bolder", "Helvetica Neue";
  font-size: 64px;
}
h2 {
  cursor: default;
  font-size: 40px;
  font-family: "sen-Bolder", "Helvetica Neue";
}
h3 {
  cursor: default;
  font-size: 24px;
  font-family: "sen-Bolder", "Helvetica Neue";
}
h4 {
  cursor: default;
  font-size: 24px;
  font-family: "sen-Bolder", "Helvetica Neue";
  text-align: center;
}
h5 {
  cursor: default;
  font-size: 20px;
  font-family: "sen-Bolder", "Helvetica Neue";
}
p {
  cursor: default;
  font-size: 16px;
  font-family: "sen-regular", "Helvetica Neue";
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ---HEADER--- */

header {
  margin: auto;
}

/* navbar */

.bg_blur {
  -webkit-backdrop-filter: blur(30px);
  backdrop-filter: blur(10px);
  background-color: rgba(255, 255, 255, 0.75);
  position: fixed;
  z-index: 50;
  top: 0; left: 0;
  height: 100vh;
  width: 100%;
  display: none;
  -webkit-transition: opacity 0.25s ease-in-out;
  -o-transition: opacity 0.25s ease-in-out;
  transition: opacity 0.25s ease-in-out;
}

.burger_navbar_container {
  z-index: 99;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 50px;
  height: 50px;
  cursor: pointer;
  margin-right: 10px;
  -webkit-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}

.burger_menu_bg {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  gap: 0;
  border-radius: 0 0 30px 30px;
  z-index: 55;
  top: 60px; left: 6%;
  width: 88%;
  height: 0vh;
  -webkit-box-shadow: inset 0 20px 30px 0 var(--shadow-color);
  box-shadow: inset 0 20px 30px 0 var(--shadow-color);
  -webkit-transition: height 0.25s ease-out;
  -o-transition: height 0.25s ease-out;
  transition: height 0.25s ease-out;
  overflow: scroll;
}
.burger_menu_bg button {
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 15px;
  font-size: 13px;
  min-height: 60px;
  width: 150px;
}
.nav_burger_container {
  margin-top: 10%;
}

.burger_content_opacity {
  opacity: 0;
  -webkit-transition: opacity 1s ease-out;
  -o-transition: opacity 1s ease-out;
  transition: opacity 1s ease-out;
}

@media only screen and (max-width: 320px) {
  .burger_menu_bg {
    gap: 0;
  }
}

.burger_menu_bg ul {
  font-family: "Sen-Bolder", "Helvetica Neue";
  font-size: 15px;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  gap: 30px;
  width: 100%;
  margin-left: 30px;
}
.burger_menu_bg ul a {
  z-index: 9999;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  white-space: nowrap;
}

.burger_menu_bg ul li img {
  height: 25px;
  width: auto;
  margin-right: 20px;
}

.burger_navbar_item {
  position: relative;
  width: 30px;
  height: 3px;
  background-color: #6C7B95;
  border-radius: 5px;
  -webkit-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
.burger_navbar_item::before, .burger_navbar_item::after {
  content: "";
  position: absolute;
  width: 30px;
  height: 3px;
  background-color: #6C7B95;
  border-radius: 5px;
  -webkit-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
.burger_navbar_item::before {
  -webkit-transform: translateY(-10px);
  -ms-transform: translateY(-10px);
  transform: translateY(-10px);
}
.burger_navbar_item::after {
  -webkit-transform: translateY(10px);
  -ms-transform: translateY(10px);
  transform: translateY(10px);
}

.burger_navbar_container.burger_menu_open .burger_navbar_item {
  background: transparent;
}
.burger_navbar_container.burger_menu_open .burger_navbar_item::before {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.burger_navbar_container.burger_menu_open .burger_navbar_item::after {
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.burger_menu_active {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 15px;
  background: -o-linear-gradient(top, white, #FCFCFC, rgb(230,230,230));
  background: -webkit-gradient(linear, left top, left bottom, from(white), color-stop(#FCFCFC), to(rgb(230,230,230)));
  background: linear-gradient(180deg, white, #FCFCFC, rgb(230,230,230));
  z-index: 1;
  opacity: 1;
  height: 49px;
  width: 199px;
  padding-left: 10px;
  -webkit-transition: 0.5s ease-out;
  -o-transition: 0.5s ease-out;
  transition: 0.5s ease-out;
  -webkit-box-shadow: 0px 0px 17px rgba(0, 0, 0, 0.04);
  box-shadow: 0px 0px 17px rgba(0, 0, 0, 0.04);
}
.burger_menu_active:after {
  content: '';
  position: absolute;
  border-radius: 14px;
  z-index: 2;
  left: 1px; top: 1px;
  height: 47px;
  width: 197px;
  background-color: #F5F5F5;
}

.burger_social_bar {
  z-index: 999;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 20px;
  width: 100%;
  opacity: 0;
  padding: 0;
}
.burger_social_bar .social_ico {
  position: relative;
  height: 20px;
  width: auto;
}
@media only screen and (max-width: 320px) {
  .burger_social_bar {
    bottom: 35px;
  }
}

.nav_container {
  opacity: 0.95;
  position: fixed;
  top: 0; left: 50%;
  margin: 20px auto 50px auto;
  -webkit-transform: translateZ(15px) translateX(-50%);
  transform: translateZ(15px) translateX(-50%);
  z-index: 99;
  background: -o-linear-gradient(#FBFBFB, #E9EBEC);
  background: -webkit-gradient(linear, left top, left bottom, from(#FBFBFB), to(#E9EBEC));
  background: linear-gradient(#FBFBFB, #E9EBEC);
  -webkit-box-shadow: 0px 5px 25px var(--shadow-color);
  box-shadow: 0px 5px 25px var(--shadow-color);
  padding: 1px;
  border-radius: 20px;
  height: 64px;
  width: 90%;
  max-width: 1300px;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-flex;
  position: relative;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background: -o-linear-gradient(100deg, rgba(243,243,243, 0.5), #F3F3F3);
  background: linear-gradient(-10deg, rgba(243,243,243, 0.5), #F3F3F3);
  background-clip: content-box;
  border-radius: inherit;
  width: 100%;
  height: 100%;
}

.nav_logo {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  width: 240px;
  height: auto;
  margin-right: auto;
}

.nav_logo img {
  height: auto;
  width: 100%;
  margin-left: 10px;
}

.nav_logo span {
  font-family:  "Sen-regular", "Helvetica Neue";
}

nav ul {
  position: relative;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 100%;
  padding: 0;
}

.nav_item_bg {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 12px;
  background: -o-linear-gradient(top, white, #FCFCFC, rgb(230,230,230));
  background: -webkit-gradient(linear, left top, left bottom, from(white), color-stop(#FCFCFC), to(rgb(230,230,230)));
  background: linear-gradient(180deg, white, #FCFCFC, rgb(230,230,230));
  z-index: 2;
  top: 10px;
  left: 0;
  height: 40px;
  width: 150px;
  opacity: 0;
  -webkit-transition: 0.2s ease-out;
  -o-transition: 0.2s ease-out;
  transition: 0.2s ease-out;
  -webkit-box-shadow: 0px 0px 17px rgba(0, 0, 0, 0.04);
  box-shadow: 0px 0px 17px rgba(0, 0, 0, 0.04);
}
.nav_item_bg:after {
  content: '';
  border-radius: 11px;
  height: 39px;
  width: 151px;
  background-color: rgb(250, 250, 250);
}

.nav_item {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-flex;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
  color: var(--text-color);
  z-index: 3;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 60%;
  width: 152px;
}
.nav_item a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 100%;
}

button {
  z-index: 9;
  cursor: pointer;
  border-style: none;
  text-shadow: 0px 0px 3px rgba(0,0,0, 0.5);
  font-family: "sen-Bolder", "Helvetica Neue";
  font-size: 11px;
  line-height: 200%;
  color: white;
  border-radius: 15px;
  width: 140px;
  height: 45px;
  margin: 0;
  -webkit-transition: -webkit-filter 0.5s ease-out;
  transition: -webkit-filter 0.5s ease-out;
  -o-transition: filter 0.5s ease-out;
  transition: filter 0.5s ease-out;
  transition: filter 0.5s ease-out, -webkit-filter 0.5s ease-out;
}
button.try {
  background: -o-linear-gradient(#67C1FF, #3787D0);
  background: -webkit-gradient(linear, left top, left bottom, from(#67C1FF), to(#3787D0));
  background: linear-gradient(#67C1FF, #3787D0);
  line-height: 15px;
}
button.buy {
  background: -o-linear-gradient(#7DE1EF, #2CC5CF);
  background: -webkit-gradient(linear, left top, left bottom, from(#7DE1EF), to(#2CC5CF));
  background: linear-gradient(#7DE1EF, #2CC5CF);
}
button.compare {
  background: -o-linear-gradient(#9DACC6, #6C7B95);
  background: -webkit-gradient(linear, left top, left bottom, from(#9DACC6), to(#6C7B95));
  background: linear-gradient(#9DACC6, #6C7B95);
}
Button:hover {
  -webkit-filter: brightness(1.2);
  filter: brightness(1.2);
}

nav button {
  margin: 7.5px;
}

/*LANGUAGE ICONS*/

.multilanguage {
  right: -50px; top: 6px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 10px;
}

.multilanguage img {
  cursor: pointer;
  border-radius: 3px;
  width: 30px;
  height: auto;
  opacity: 0.5;
  -webkit-transition: opacity 0.1s ease-in;
  -o-transition: opacity 0.1s ease-in;
  transition: opacity 0.1s ease-in;
}
.multilanguage img:hover {
  opacity: 1;
}

.multilanguage-burger {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
  margin: 40px auto 0 auto;
  gap: 10px;
}

.multilanguage-burger img {
  cursor: pointer;
  border-radius: 5px;
  width: 30px;
  height: auto;
  opacity: 0.5;
  -webkit-transition: opacity 0.1s ease-in;
  -o-transition: opacity 0.1s ease-in;
  transition: opacity 0.1s ease-in;
}

.multilanguage-burger img:hover {
  opacity: 1;
}

/* title banner */

.title_banner {
  margin-left: auto;
  margin-right: auto;
  z-index: 1;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background-color: #F4F4F4;
  /*aspect-ratio: 16/9;*/
  width: auto;
  max-width: 100vw;
  height: 100vh;
  color: white;
  overflow: hidden;
  -webkit-box-shadow: 0px 15px 25px var(--shadow-color);
  box-shadow: 0px 15px 25px var(--shadow-color);
}

.title_banner_content {
  position: absolute;
  top: 40%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  left: 10%;
}

.eu_fond {
  cursor: pointer;
  width: 249px;
  height: auto;
  position: absolute;
  bottom: 10px; right: 10px;
  margin: 0;
}

.eu_fond div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 10px;
}

.eu_fond img {
  height: 50px;
  width: auto;
}

.eu_fond p {
  font-size: 10px !important;
  width: 100%;
  margin: 5px 0 0 0 !important;
}

.arrow_down {
  display: block;
  cursor: pointer;
  z-index: 10;
  position: absolute;
  left: 50%; bottom: 20px;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  width: 30px;
  height: auto;
  opacity: 0.5;
  -webkit-transition: bottom 0.3s linear;
  -o-transition: bottom 0.3s linear;
  transition: bottom 0.3s linear;
}
.arrow_down:hover {
  bottom: 17px;
}


@media only screen and (max-width: 450px) {
  .eu_fond img {
    height: 40px;
    width: auto;
  }
  .eu_fond {
    width: 200px;
  }

  .eu_fond p {
    font-size: 7px !important;
    width: 100%;
  }
}


#video {
  -webkit-filter: brightness(0.7);
  filter: brightness(0.7);
  cursor: default;
  position: absolute;
  z-index: -1;
  width: auto;
  height: 100%;
  -webkit-transform: translateX(-50%) scale(1.3);
  -ms-transform: translateX(-50%) scale(1.3);
  transform: translateX(-50%) scale(1.3);
  bottom: 0;
  left: 50%;
  top: 0;
}

#video_square {
  cursor: default;
  position: absolute;
  z-index: -1;
  width: auto;
  height: 100%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  bottom: 0;
  left: 50%;
}

@media only screen and (max-width: 450px) {

  #video_square {
    display: block;
  }

  #video {
    display: none;
  }

  .title_banner {
    aspect-ratio: 1/1;
    margin-top: 0;
    width: 100%;
    height: auto;
  }

  .title_banner {
    border-radius: 0;
  }

  .title_button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 15px;
    margin-top: 40px;
  }

  .title_banner_content_hide {
    display: none;
  }
  .title_banner {
    overflow: hidden;
  }
  .title_banner . {
    overflow: hidden;
  }
}

@media only screen and (min-width: 451px) {

  #video {
    display: block;
  }
  #video_square {
    display: none;
  }
}

@media only screen and (min-width: 900px) {

  .title_display {
    display: none;
  }
}

.title_video_img {
  position: absolute;
  z-index: -1;
  right: 10%;
  top: 0;
  height: 100%;
  width: auto;
}

h1 {
  cursor: default;
  z-index: 8;
  font-size: 50px;
  margin: 0 0 20px 0;
}

.title_banner p {
  z-index: 8;
  font-size: 17px;
  margin: 0 0 40px 0;
}

.title_banner button {
  margin: 0 10px;
}

@media only screen and (max-width: 900px) {

  .arrow_down {
    display: none;
  }

  .title_display {
    text-align: center;
    margin: auto;
  }

  .title_banner {
    border-radius: 0;
    margin-top: 0;
  }

  .title_button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 15px;
    margin-top: 40px;
  }

  .title_banner {
    overflow: hidden;
  }
  .title_banner . {
    overflow: hidden;
  }
}

/* social icons */

.social_bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  margin: 15px auto 0 auto;
  gap: 15px;
  padding-left: 100px;
  width: 100%;
  max-width: 1420px;
}

.social_ico {
  position: relative;
  z-index: 2;
  cursor: pointer;
  height: 17px;
  width: auto;
  -webkit-transition: 0.2s ease-out;
  -o-transition: 0.2s ease-out;
  transition: 0.2s ease-out;
}
.social_ico:hover {
  -webkit-transform: translateY(-5px);
  -ms-transform: translateY(-5px);
  transform: translateY(-5px);
}

/* platform */

.platform {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #F5F3F4;
  padding: 80px 0;
  margin: 120px 0 0 0;
  width: 100%;
  height: auto;
}

.platform h2 {
  margin-bottom: 40px;
  text-align: center;
}

.platform_item_group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-flex;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  gap: 30px;
}

.platform_item {
  cursor: pointer;
  height: 60px;
  width: auto;
  opacity: 1;
  -webkit-transition: 0.25s ease-out;
  -o-transition: 0.25s ease-out;
  transition: 0.25s ease-out;
}
.platform_item:hover {
  opacity: 0.75;
}

@media only screen and (max-width: 1300px) {
  .platform {
    margin-top: 40px;
  }

  .platform_item_group {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
    padding: 0 40px;
  }

  .h2_mobile {
    text-align: center;
    margin: 120px 0 60px 0;
  }
}

/* sell map */

.sell_map {
  color: #16B4CE;
  text-align: center;
  padding: 80px 0 0 0;
  margin: 60px auto;
}

.sell_map_img {
  height: auto;
  width: 60%;
  margin-top: 60px;
  margin-bottom: 60px;
}

/* solutions */

.solution_bar {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-image: -o-linear-gradient(#8EC1FE, #3D65B1);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#8EC1FE), to(#3D65B1));
  background-image: linear-gradient(#8EC1FE, #3D65B1);
  height: auto;
  width: 100%;
  padding: 80px 0 0 0;
  color: #FFFFFF;
  text-align: center;
}

.solution_bar > p {
  margin: 30px 350px 0px 350px;
}

.solution_bar_item_group {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  gap: 50px;
  width: 80%;
  height: 200px;
  margin: 30px 10% 80px 10% ;
}

.solution_bar_item_holder {
  position: relative;
  border-radius: 30px;
  width: 280px;
  height: 320px;
}

.solution_bar_item_absolute {
  text-align: center;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
  cursor: default;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 20px;
  background: -o-linear-gradient(rgba(142, 193, 254, 0.25), rgba(61, 101, 177, 0.25));
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(142, 193, 254, 0.25)), to(rgba(61, 101, 177, 0.25)));
  background: linear-gradient(rgba(142, 193, 254, 0.25), rgba(61, 101, 177, 0.25));
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  border-radius: 40px;
  border: solid 1px rgba(255,255,255,0.5);
  line-height: 17px;
  padding: 30px 10px;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  -webkit-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}

.solution_bar_item_absolute img {
  height: 70px;
  width: auto;
}
.solution_bar_item_absolute button {
  margin: 0;
}

.solution_bar_item_absolute p {
  font-size: 13px;
  margin: -10px 20px 0px 32px;
}

/* vm products all platforms */

.vm_products {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 0;
  margin: 180px 0;
  text-align: center;
}
.vm_products button {
  margin: 0 10px;
}

.vm_products h2 {
  margin-bottom: 60px;
}
.vm_products > p {
  margin: 0 25% 80px 25%;
}

.vm_products_item_group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-flex;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  margin: 0 10%;
  gap: 80px;
}

.vm_products_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 15px;
  width: 150px;
}

.vm_products_item h5 {
  font-size: 16px;
  white-space: nowrap;
  letter-spacing: 0;
}

.vm_products_item p {
  font-size: 13px;
}

.vm_products_item img {
  width: 150px;
  height: 150px;
  -webkit-transition: -webkit-transform 0.25s ease-out;
  transition: -webkit-transform 0.25s ease-out;
  -o-transition: transform 0.25s ease-out;
  transition: transform 0.25s ease-out;
  transition: transform 0.25s ease-out, -webkit-transform 0.25s ease-out;
  cursor: pointer;
}
.vm_products_item img:hover {
  -webkit-transform: translateY(-5px);
  -ms-transform: translateY(-5px);
  transform: translateY(-5px);
}

@media only screen and (max-width: 1300px) {
  .vm_products {
    margin: 80px 0 0 0;
  }
}
/* STUDENT PAGE VM PRODUCT VERSION */

.vm_products_features {
  padding: 30px 0 0 0;
  margin-bottom: 200px;
}

.vm_products_features h3 {
  margin-bottom: 50px;

  font-family: "sen-Bolder", "Helvetica Neue";
}

@media only screen and (max-width: 1180px) {

  .vm_products {
    margin: 140px 0 0 0;
  }

  .vm_products_item_group {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  .vm_products > p {
    margin: 80px 15%;
  }
}

/* STUDENT - UNIVERSITY / ELEMENTARY */

.vm_products_student {
  padding: 0;
}

.vm_products_item_group_student {
  margin-top: 60px;
  gap: 140px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-flex;
  padding: 0;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.vm_products_uni_hs_title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 40px;
}

.vm_products_uni_hs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 80px;
}

@media only screen and (max-width: 900px) {

  .vm_products_item_group_student {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .vm_products_uni_hs {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
}

/* FEATURE INSTITUTIONS */

.features_institutions {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 50px 0 100px 0;
  margin: auto;
  width: 100%;
  max-width: 1500px;
}

.features_institutions h4 {
  margin-top: 10px;
}

.features_institutions p {
  margin: 40px 0 0 0;
}

.features_institutions button {
  margin: 10px auto 0 0;
}

.features_institutions_img {
  -webkit-transform: translateX(-58%);
  -ms-transform: translateX(-58%);
  transform: translateX(-58%);
  z-index: -1;
  position: absolute;
  left: 50%;
  bottom: 0;
  height: 600px;
  width: auto;
}

.feature_institutions_group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-flex;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 100%;
}

.feature_institutions_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  margin: 0 15%;
}

@media only screen and (max-width: 1000px) {

  .features_institutions {
    margin: 120px 0;
    padding: 0;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .feature_institutions_group {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    gap: 40px;
    text-align: center;
  }

  .feature_institutions_item {
    margin-top: 30px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .features_img_normal_size {
    display: none;
  }

  .features_institutions button {
    margin: 10px auto;
  }

}

@media only screen and (min-width: 1001px) {

  .features_img_mobile_size {
    display: none;
  }

}

/* systems */

.systems {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 30px;
  background-color: #F5F3F4;
  text-align: center;
  padding: 80px 0;
}

.systems_item_group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  margin: 0;
}

.systems_item_group p {
  color: #848484;
  font-size: 8px;
  margin-top: 10px;
}

.systems_item {
  width: 50px;
  height: 50px;
  margin: 20px 15px 10px 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  white-space: nowrap;
}

.systems_item img {
  width: 50px;
  height: 50px;
  background-color: #E0E0E0;
  border-radius: 100%;
  -webkit-transition: -webkit-transform 0.5s ease-out;
  transition: -webkit-transform 0.5s ease-out;
  -o-transition: transform 0.5s ease-out;
  transition: transform 0.5s ease-out;
  transition: transform 0.5s ease-out, -webkit-transform 0.5s ease-out;
}
.systems_item img:hover {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}

/* AWARDS */

.awards {
  padding: 140px 10%;
  width: 100%;
  max-width: 1750px;
  margin: auto;
  text-align: center;
}

.awards_item_group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-top: 80px;
}

.awards div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  gap: 80px;
}

/* watch video */

.watch_video {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #F5F3F4;
  text-align: center;
  padding: 60px 0;
}

.watch_video p {
  margin: 20px 25%;
  width: 50%;
  max-width: 1200px;
}

.watch_video_container {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  height: auto;
  width: 100%;
  max-width: 1300px;
  z-index: 11;
}

.watch_video_bg {
  display: none;
  position: fixed;
  top: 0; left: 0;
  height: 100vh;
  width: 100%;
  opacity: 0.9;
  background-color: black;
  z-index: 10;
}

.watch_video_close {
  height: 30px;
  width: 30px;
  position: absolute;
  top: 50%; right: 7px;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  opacity: 0.65;
  cursor: default;
  border-radius: 8px;
  padding: 7px;
  background-color: #373737;
}
.watch_video_close:active {
  padding: 8px;
}

/* FEATURES */

.features {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: start;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin: 100px auto 0 auto;
  width: 70%;
  max-width: 1200px;
}

.features h4 {
  margin-top: 10px;
  padding-right: 50%;
}

.features p {
  margin: 30px 0;
  width: 40%;
}

.features_button_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 20px;
  margin: 0 0 110px 0;
}

.features_img {
  z-index: -1;
  -webkit-transform: translateY(5px);
  -ms-transform: translateY(5px);
  transform: translateY(5px);
  position: absolute;
  height: auto;
  width: auto;
  right: 0; bottom: 0;
}
.features img {
  height: 550px;
  width: auto;
}

@media only screen and (max-width: 1300px) {
  .features {
    margin: 120px auto 0 auto;
  }
  .features_institutions_margin {
    margin-top: 0;
  }
}

/* FEATURES STUDENT PAGE */

.features_student .try {
  margin-right: 20px;
}


/* quotes */

.quotes {
  background-color: #F5F3F4;
  padding: 60px 15%;
  font-size: 17px;
  line-height: 25px;
  width: 100%;
}

blockquote {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center;
  width: 100%;
  max-width: 1200px;
  margin: auto;
}

cite {
  font-style: normal;
  font-weight: bolder;
  margin-top: 30px;
}

/* LICENCING PLAN */

.licencing_plan_bg {
  background: -o-linear-gradient(left, #8EC1FE, #3D65B1);
  background: -webkit-gradient(linear, left top, right top, from(#8EC1FE), to(#3D65B1));
  background: linear-gradient(90deg, #8EC1FE, #3D65B1);
  width: 100%;
  height: auto;
}

.licencing_plan {
  color: #FFFFFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  padding: 80px 30px 10px 30px;
  width: 80%;
  max-width: 1200px;
  margin: auto;
}

.licencing_plan h2 {
  margin: 0 !important;
}

.licencing_plan h5 {
  font-family: "sen-regular", "Helvetica Neue" !important;
}

.licencing_plan > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  gap: 15px;
}

.licencing_plan button {
  margin: 0;
}

.licencing_plan_item_group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-flex;
}

.licencing_plan_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 160px;
  margin: auto;
}

.licencing_plan_icon {
  background: -o-linear-gradient(315deg, rgba(230,230,230, 0.70), rgba(230,230,230, 0.3));
  background: linear-gradient(135deg, rgba(230,230,230, 0.70), rgba(230,230,230, 0.3));
  border: 1px solid white;
  border-radius: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 15px 0;
  width: 125px;
  height: 125px;
}

.licencing_plan_td {
  line-height: 17px;
  text-align: center;
  vertical-align: center;
  width: 160px;
  padding: 20px 0;
}

@media only screen and (max-width: 570px) {
  .licencing_plan {
    width: 100%;
  }

  .licencing_plan_item img {
    width: 40px;
    height: 40px;
  }

  .licencing_plan_icon {
    width: 80px;
    height: 80px;
    border-radius: 20px;
  }

  .licencing_plan_item button {
    width: 80px;
    height: 40px;
    font-size: 9px;
    border-radius: 13px;
  }

  .licencing_plan_item h5 {
    font-size: 12px !important;
  }
}

@media only screen and (max-width: 1000px) {
  .licencing_plan_td  {
    width: 33.33%;
  }

  .licencing_plan table {
    width: 100%;
    border-collapse: collapse;
  }

  .licencing_plan  {
    /*padding: 10px 30px !important;*/
  }

  .licencing_plan {
    text-align: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .licencing_plan h2 {
    font-size: 30px;
    margin: 30px 0;
    font-family: "sen-Bolder", "Helvetica Neue";
  }
  .licencing_plan h5 {
    margin: 0 15%;
  }

  .licencing_plan_item_group {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-right: auto;
  }
  .licencing_plan_item {
    margin-top: 40px;
    width: 100%;
  }

  .licencing_plan > div:first-child {
    margin-right: 0;
  }

  .licencing_plan_item_group {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-flex;
    -webkit-box-pack: space-evenly;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    width: 100%;
    height: auto;
    margin-right: 0;
  }

  .compare_learn_more_buttons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 80px;
    gap: 30px;
  }
}

/* COMPARISON */

.compare_mark_icon {
  width: 24px;
  height: 24px;
}

.short_comparison {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin: auto;
  width: 80%;
  max-width: 1200px;
  height: auto;
  -webkit-transform: translateY(-50px);
  -ms-transform: translateY(-50px);
  transform: translateY(-50px);
}

.table_container {
  border: 1px solid white;
  -webkit-backdrop-filter: blur(30px);
  backdrop-filter: blur(30px);
  border-radius: 30px;
  background-color: rgba(245,245,245, 0.5);
  width: 100%;
  padding: 30px;
}

.short_comparison table caption {
  margin: 2% 0;
  color: #28A5CA;
  text-align: left;
  font-size: 35px;
  font-family: "sen-Bolder", "Helvetica Neue";
}

.short_comparison table {
  width: 100%;
  border-collapse: collapse;
}

.short_comparison table tr {
  border-bottom: solid 1px #D7D7DF;
}
.short_comparison table tr:first-child {
  border-top: solid 1px #D7D7DF;
}
.short_comparison table tr:last-child {
  /*border-bottom: none;*/
}
.short_comparison table td {
  line-height: 20px;
  text-align: center;
  vertical-align: center;
  width: 160px;
  padding: 10px 0;
}
.short_comparison table td:first-child {
  width: auto;
  text-align: left;
  vertical-align: center;
}

@media only screen and (max-width: 570px) {
  .short_comparison {
    width: 100%;
  }

}

@media only screen and (max-width: 1000px) {

  .short_comparison table caption {
    text-align: center;
  }

  .short_comparison table td {
    width: 33.33%;
  }

  .short_comparison table td:first-child {
    width: 33.33%;
    text-align: center;
    vertical-align: center;
  }

  .short_comparison table tr:nth-child(2n+1) {
    border-bottom: solid 0px transparent;
  }

  .responsive_hidden_table {
    display: none !important;
  }
}

@media only screen and (min-width: 1001px) {

  .small_table {
    display: none !important;
  }
}

.table_end_buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  gap: 30px;
  margin: 60px 5% 120px 5%;
}

/* JOIN VIRTUAL MEDICINE TODAY */

.joint_vm {
  width: 100%;
  background: -o-linear-gradient(left, rgb(142, 193, 254), rgb(61, 101, 177));
  background: -webkit-gradient(linear, left top, right top, from(rgb(142, 193, 254)), to(rgb(61, 101, 177)));
  background: linear-gradient(90deg, rgb(142, 193, 254), rgb(61, 101, 177));
  color: #FFFFFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 80px 0px;
}

.joint_vm > p {
  margin-top: 20px;
}

.joint_vm > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 40px;
}
.joint_vm button {
  margin: 0 10px;
}

@media only screen and (max-width: 700px) {

  .joint_vm {
    text-align: center;
  }

  .joint_vm p {
    margin: 40px 20%;
    font-size: 20px;
  }

  .joint_vm div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 30px;
  }
}

/* SCROLL UP */

.scroll_up {
  width: 100%;
  padding: 40px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.scroll_up > button {
  background: -o-linear-gradient(rgb(142, 193, 254), rgb(61, 101, 177));
  background: -webkit-gradient(linear, left top, left bottom, from(rgb(142, 193, 254)), to(rgb(61, 101, 177)));
  background: linear-gradient(rgb(142, 193, 254), rgb(61, 101, 177));
  border-radius: 20px;
  width: 110px;
  height: 40px;
}

/* FOOTER */

footer {
  color: #6C7B95;
}

footer dt {
  font-family: "sen-Bolder", "Helvetica Neue";
}

.footer_menu_container {
  width: 80%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 30px;
  background-color: #F5F3F4;
  padding: 40px 40px 20px 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.def_list_group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-flex;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
  -webkit-box-align: baseline;
  -ms-flex-align: baseline;
  align-items: baseline;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  gap: 40px;
  width: 100%;
}

footer dl {
  font-size: 13px;
}

footer dd {
  margin: 13px 0;
  line-height: 17px;
}

footer a {
  -webkit-transition: opacity 0.25s ease-out;
  -o-transition: opacity 0.25s ease-out;
  transition: opacity 0.25s ease-out;
}
footer a:hover {
  opacity: 0.5;
}

.footer_menu_logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin: 10px 0 50px 0;
}

.footer_menu_logo span {
  font-size: 11px;
  white-space: nowrap;
  margin: 0;
}

.footer_menu_logo img {
  width: 200px;
  height: auto;
}

@media only screen and (max-width: 750px) {
  footer dl {
    text-align: center;
    width: 100%;
  }
}

/* INSTITUTION PAGE */

.content_body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 120px;
  width: 100%;
  max-width: 1200px;
  margin: auto;
}
.content_body_title {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 30px;
  margin: 180px 10% 60px 10%;

}
.content_body_title img {
  width: 80%;
  height: auto;
}

.content_body_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 50px;
  width: 100%;
  margin: auto;
}

.content_body_item_img {
  height: auto;
  width: 50%;
}

.content_body_item_text {
  width: 50%;
}

.content_body_picture_mobile {
  width: 30%;
}

.fade {
  display: none;
}

@media only screen and (max-width: 700px) {
  .content_body {
    gap: 0;
  }

  .content_body_item {
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 100%;
    margin: 100px 0;
    gap: 30px;
  }
  .content_body_item h3 {
    margin: 0;
  }

  .content_body_picture_mobile {
    width: 80%;
  }

  .content_body_item_img {
    height: auto;
    width: 80%;
  }

  .fade_hidden {
    display: none;
  }

  .fade {
    display: block;
    position: relative;
  }

  .fade::after {
    position: absolute;
    left: 0;
    top: 0;
    content: "";
    width: 100%;
    height: 100%;
    background: -o-linear-gradient(rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 1) 98%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(50%, rgba(255, 255, 255, 0)), color-stop(98%, rgba(255, 255, 255, 1)));
    background: linear-gradient(rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 1) 98%);
  }

  .mobile_margin {
    margin-top: 50px;
    margin-bottom: 250px !important;
  }

  .feature_institutions_item p {
    margin: 30px 0 10px 0;
  }

  .content_body_item_text {
    width: 80%;
  }

  .content_body_item_img {
    height: auto;
    width: 90%;
  }

  .normal_size {
    display: none;
  }
}

@media only screen and (min-width: 701px) {
  .mobile_size {
    display: none;
  }
}

/* Logo Slider */

.used_by {
  margin: 160px 0 0 0;
}

.used_by h2 {
  text-align: center;
  margin-bottom: 80px;
}

.logo_slider {
  height: auto;
  margin: auto;
  width: 100%;
  max-width: 1200px;
  overflow: hidden;
  position: relative;
}

.logo_slider::after {
  position: absolute;
  content: "";
  height: 100px;
  width: 200px;
  left: 0; top: 0;
  background: -o-linear-gradient(left, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
  background: -webkit-gradient(linear, left top, right top, from(rgba(255, 255, 255, 1)), to(rgba(255, 255, 255, 0)));
  background: linear-gradient(90deg, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
}
.logo_slider::before {
  position: absolute;
  content: "";
  height: 100px;
  width: 200px;
  right: 0; top: 0;
  background: -o-linear-gradient(right, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
  background: -webkit-gradient(linear, right top, left top, from(rgba(255, 255, 255, 1)), to(rgba(255, 255, 255, 0)));
  background: linear-gradient(-90deg, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
  z-index: 1;
}


.logo_slider_group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-flex;
  gap: 60px;
  height: 100px;
  width: 100%;
  -webkit-animation: logoAnimation 60s linear infinite;
  animation: logoAnimation 60s linear infinite;
}

.logo_slider img {
  height: 100px;
  width: auto;
}

@-webkit-keyframes logoAnimation {
  from {
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
  }
  to {
    -webkit-transform: translateX(-3961.53px);
    transform: translateX(-3961.53px);
  }
}

@keyframes logoAnimation {
  from {
    -ms-transform: translateX(0px);
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
  }
  to {
    -ms-transform: translateX(-2630px);
    -webkit-transform: translateX(-2630px);
    transform: translateX(-2630px);
  }
}

/* XR EXPERIENCE PAGE */

.licencing_plan_xr_page {
  background: none;
  color: #6C7B95;
}

.licencing_plan_xr_page h5 {
  font-size: 17px;
  margin-bottom: 15px;
}

/* download now */

.download_now {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 140px;
  text-align: center;
  margin: 160px 0;
}

.download_now h2 {
  color: #28A5CA;
  font-family: "sen-Bolder", "Helvetica Neue";
}

.download_now_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 10px;
  position: relative;
}
.download_now_platform_icons {
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: baseline;
  -ms-flex-align: baseline;
  align-items: baseline;
  gap: 30px;
  position: relative;
}

.download_now_item > img {
  height: 150px;
  width: auto;
  position: relative;
  margin-bottom: 20px;
}

.download_now_item:before {
  content: "";
  position: absolute;
  display: block;
  top: 5px; left: 50%;
  margin-left: -75px;
  background-color: var(--shadow-color);
  width: 150px;
  height: 150px;
  border-radius: 30px;
  -webkit-filter: blur(5px);
  filter: blur(5px);
}

.download_now_store_icons {
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: relative;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  gap: 15px;
}
.download_now_store_icons img {
  cursor: pointer;
  width: 200px;
  height: auto;
  -webkit-transition: opacity 0.25s ease-out;
  -o-transition: opacity 0.25s ease-out;
  transition: opacity 0.25s ease-out;
}

.download_now_store_icons img:hover {
  opacity: 0.75;
}

/* CONTACT US */

.about_company {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-flex;
  -webkit-justify-content: center;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  width: 80%;
  max-width: 1300px;
  margin: 200px auto 0 auto;
}

.about_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-flex;
}
.about_container h5{
  margin: 10px 0 40px 0;
}
.about_container div {
  width: 50%;
}
.about_company img {
  margin-left: 80px;
  width: 30%;
  height: auto;
}

.partners {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 160px 0 250px 0;
  gap: 30px;
}

.partners h2 {
  margin-bottom: 40px;
}

.partners_img {
  cursor: pointer;
  height: 60px;
  width: auto;
}

.partners_support {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 80px;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 0 5%;
}

@media only screen and (max-width: 500px) {
  .partners_img {
    height: auto;
    width: 90%;
  }
}

@media only screen and (max-width: 1000px) {
  .partners_support {
    /*flex-direction: column;*/
    margin: 0 10%;
    gap: 50px;
  }
}

/* FAQ */

.faq {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  width: 30%;
  margin: 140px 15%;
  gap: 30px;
}

/* DOCUMENTATION */

.faq_documentation {
  margin-bottom: 180px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: 90vh;
}

.faq_documentation_menu_container {
  width: 20%;
  background-color: #F8F8F8;
  border-radius: 30px;
  padding: 0 2%;
}

.faq_documentation_menu {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  padding: 40px 10px 0 10px;
}


.faq_documentation_menu dt a {
  margin-top: 40px;
  font-family: "sen-Bolder", "Helvetica Neue";
  font-size: 30px;
  color: #28A5CA;
}
.faq_documentation_menu dd {
  margin: 20px 0 20px 15px;
}
.faq_documentation_menu a {
  opacity: 1;
  -webkit-transition: 0.25s ease-out;
  -o-transition: 0.25s ease-out;
  transition: 0.25s ease-out;
}
.faq_documentation_menu a:hover {
  opacity: 0.75;
}

.faq_documentation_content {
  width: 60%;
  padding: 30px 2%;
  overflow-x: hidden;
  overflow-y: scroll;
}

.faq_documentation_content h4 {
  color: #28A5CA;
  margin: 50px 0 30px 0;
}

.faq_documentation_content img {
  margin: 15px 0 30px 0;
  width: 100%;
  height: auto;
}

.faq_documentation_content p {
  width: 70%;
}

/* CONTACT FORM */

.contact_form {
  text-align: center;
  background-color: rgb(240, 240, 240);
  border-radius: 50px;
  padding: 3%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column;
  flex-flow: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 80%;
  max-width: 1200px;
  margin: 140px auto 30px auto;
}

.contact_form p {
  padding: 0 0 30px 0;
  width: 100%;
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 100%;
  gap: 15px;
}

.form_item_group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-flex;
  gap: 15px;
  width: 100%;
}

.form_checkbox_group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 15px;
}

.form_item_group_column {
  text-align: start;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column;
  flex-flow: column;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 10px;
  width: 50%;
}

.form_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  gap: 15px;
}

.label_text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-flex;
  -ms-flex-item-align: start;
  align-self: flex-start;
  margin-left: 20px;
}

.input_text {
  position: relative;
  height: 35px;
  width: 100%;
  border-radius: 20px;
  border: 1px solid darkgrey;
  padding: 0 20px;
}

select {
  color: #A9A9A9;
  position: relative;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-color: white;
  appearance: none;
  height: auto;
  width: 100%;
  border: none;
  outline: none;
}

.country_img {
  position: absolute;
  right: 20px;
  pointer-events: none;
  width: 15px;
  height: 15px;
}

.form_submit_container {
  margin: 50px 0 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 25px;
}

.form_submit_container button {
  font-size: 13px;
  border-radius: 30px;
  letter-spacing: 1px;
}

.invalid_form {
  outline: 2px solid red !important;
}

.form_item_addressline {
  width: calc(50% - 7.5px);
  margin-right: auto;
}

.address {
  width: 100%;
  max-width: 1200px;
  margin: 50px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 30px;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.address div {
  text-align: center; line-height: 25px;
}

.title-width {
  width: calc(15% - 7.5px);
}
.name-width {
  width: calc(35% - 7.5px);
}
.email-width {
  width: 50%;
}

/* --- RESPONSIVE --- */

@media only screen and (max-width: 320px) {

  .nav_logo {
    width: 180px;
  }

}

@media only screen and (max-width: 1000px) {
  .form_item_group_mobile {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .form_item_group_column {
    width: 100%;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
  }
  .form_item_addressline {
    width: 100%;
    margin-right: 0;
  }
  .contact_form {
    background: none;
  }

  .title-width {
    width: 100%;
  }
  .name-width {
    width: 100%;
  }
  .email-width {
    width: 100%;
  }
}

@media only screen and (max-width: 1300px) {

  .responsive_hidden {
    display: none !important;
  }

  /* navbar */
  nav ul, nav button {
    display: none;
  }

  .nav_container {
    position: fixed;
  }

  /* HOME PAGE */
  h1.small {
    padding-top: 120px;
    text-align: center;
    font-size: 35px;
    font-family: "sen-Bolder", "Helvetica Neue";
  }

  h3.small {
    text-align: center;
    margin: 80px 5% 0 5%;
  }

  p.small {
    text-align: center;
    padding: 0 10%;
    margin: 30px auto;
  }

  .social_bar {
    display: none;
  }

  .sell_map_img {
    height: auto;
    width: 90%;
  }

  h2 {
    font-family: "sen-Bolder", "Helvetica Neue";
    font-size: 40px;
    margin: 0 5%;
  }

  h3 {
    margin: 0 5%;
  }

  .solution_bar {
    height: auto;
  }

  .solution_bar_item_group {
    height: auto;
  }

  .solution_bar_item_absolute {
    position: relative;
    padding: 0;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    gap: 20px;
  }

  .solution_bar > p {
    margin: 30px 5% 0px 5%;
    padding: 0 15%;
  }

  .features {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 0 10% 80px 10%;
    width: 100%;
    text-align: center;
  }

  .features h2 {
    margin: 15px 0;
  }

  .features h4 {
    padding-right: 0;
    margin: 0;
  }

  .features p {
    margin: 40px 0;
    width: 80%;
  }

  .features_button_container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin: 0;
  }

  .features img {
    width: 100%;
    max-width: 500px;
    height: auto;
  }

  .features_img {
    position: relative;
    left: 0;
    top: 0;
    margin: 0;
  }

  .features_img::after {
    position: absolute;
    left: 0;
    top: 0;
    content: "";
    width: 100%;
    height: 100%;
    background: -o-linear-gradient(rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 1) 98%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(50%, rgba(255, 255, 255, 0)), color-stop(98%, rgba(255, 255, 255, 1)));
    background: linear-gradient(rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 1) 98%);
  }

  .systems {
    margin: 40px 0 0 0;
    padding: 40px 0;
  }
}

/* STUDENT PAGE */

.vm_products.vm_products_features  {
  padding-bottom: 0;
  margin-top: 120px;
}

.small_features_student_button_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-line-pack: center;
  align-content: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 180px;
  gap: 30px;
}

.features_student h3 {
  margin-top: 15px;
}

/*  XR EXPERIENCE PAGE */

.solution_bar {
  margin-top: 0;
  padding-top: 80px;
}

.download_now_platform_icons {
  gap: 0;
}

.download_now_store_icons {
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.download_now {
  padding: 100px 0;
  margin: 0;
  gap: 120px;
}

.download_now h2 {
  margin: 0 5%;
}

.watch_video h2 {
  font-size: 30px;
  margin: 0 5%;
}

.watch_video p {
  font-size: 20px;
}

.watch_video_none_background {
  background: none;
}

/* CONTACT PAGE */

@media only screen and (max-width: 1300px) {

  .about_company {
    margin: auto;
    text-align: center;
  }
  .about_container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin: 140px auto 140px auto;
  }
  .about_container div {
    width: 100%;
    height: auto;
    margin: 25px auto;
  }
  .about_container img {
    width: 50%;
    max-width: 500px;
    height: auto;
    margin: 0 auto !important;
  }
  .about_container h5 {
    margin: 25px 0 0 0;
  }
  .about_container img {
    margin: 25px 0;
  }
}

.fade_contact {
  display: block;
  position: relative;
}

.fade_contact::after {
  position: absolute;
  left: 0;
  top: 0;
  content: "";
  width: 100%;
  height: 100%;
  background: -o-linear-gradient(rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 1) 98%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(50%, rgba(255, 255, 255, 0)), color-stop(98%, rgba(255, 255, 255, 1)));
  background: linear-gradient(rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 1) 98%);
}

@media only screen and (min-width: 1301px) {
  .fade_contact {
    display: none;
  }

  .small {
    display: none;
  }

  /* navbar */

  .burger_navbar_container {
    display: none;
  }

  .burger_social_bar {
    display: none;
  }
}